.card {
    transition: .3s;

    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 200px;
        overflow: hidden;

        img {
            object-fit: contain;
            max-height: 180px;
        }
    }

    .card-content {
        padding: 10px;
        color: black;
        height: 160px;

        .card-title {
            font-size: 1.4rem;
        }

        .card-desc {
            font-size: .9rem;
        }
    }

    .card-action {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
            padding: 16px;
            color: #fff;
            background-color: #424242;
            text-decoration: none;
            text-align: center;
            letter-spacing: .5px;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
            cursor: pointer;
            border: none;
            border-radius: 2px;
            height: 36px;
            line-height: 36px;
            padding: 0 16px;
        }
    }
}
