.card {
    transition: .3s;

    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 200px;
        overflow: hidden;

        img {
            object-fit: contain;
            max-height: 180px;
        }
    }

    .card-content {
        padding: 10px;
        color: black;
        height: 160px;

        .card-title {
            font-size: 1.4rem;
        }

        .card-desc {
            font-size: .9rem;
        }
    }

    .card-action {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn.grey.darken-3.white-text {
            font-size: .9rem;
        }
    }
}
