<div class="navbar-fixed">
    <nav class="nav-extended grey darken-3">
        <div class="nav-wrapper container">
            <a routerLink="/" class="brand-logo">Name / Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <div id="search-form" class="search-bar-wrapper">
                    <div class="input-field col s12">
                        <input placeholder="Search" (keypress)="enterSearch($event)" #searchElement
                            id="autocomplete-input" class="search-bar autocomplete" type="search">
                    </div>
                    <a href="#" (click)="clickSearch($event)" class="black-text search-icon" id="search"><i
                            class="material-icons">search</i></a>
                </div>
                <div *ngIf="auth.user | async as user; else showLogin">
                    <span class="material-icons dropdown-trigger profile-dropdown"
                        data-target="profileDropdown">account_circle</span>

                    <ul id='profileDropdown' class='dropdown-content'>
                        <li><a routerLink="/profile">Profile</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#" (click)="signOut($event)">Logout</a></li>
                    </ul>
                </div>

                <ng-template #showLogin>
                    <a class="btn white black-text" routerLink="/login">Log in</a>
                    <a class="btn white black-text" routerLink="/signup">Sign up</a>
                </ng-template>
            </ul>
            <a class="cart" routerLink="/cart">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div>
        <div class="nav-content container center">
            <ul class="tabs tabs-transparent">
                <a routerLink="/category/computers" routerLinkActive="active" class="tab">computers</a>
                <a routerLink="/category/components" routerLinkActive="active" class="tab">components</a>
                <a routerLink="/category/peripherals" routerLinkActive="active" class="tab">peripherals</a>
                <a routerLink="/category/phones" routerLinkActive="active" class="tab">phones</a>
                <a routerLink="/category/gaming" routerLinkActive="active" class="tab">gaming</a>
                <a routerLink="/category/network" routerLinkActive="active" class="tab">network</a>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/category/computers">computers</a></li>
    <li><a routerLink="/category/components">components</a></li>
    <li><a routerLink="/category/peripherals">peripherals</a></li>
    <li><a routerLink="/category/phones">phones</a></li>
    <li><a routerLink="/category/gaming">gaming</a></li>
    <li><a routerLink="/category/network">network</a></li>
    <form>
        <input placeholder="Search" class="search-bar" type="search">
    </form>
    <div class="buttons">
        <a class="btn grey darken-3" routerLink="#">Log in</a>
        <a class="btn grey darken-3" routerLink="#">Sign up</a>
    </div>
</ul>