<app-preloader></app-preloader>

<div class="container cart py5">
    <div class="my5">
        <table class="cart-table">
            <thead>
                <tr>
                    <th class="product-remove">&nbsp;</th>
                    <th class="product-thumbnail">&nbsp;</th>
                    <th class="product-name">Name</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-subtotal">Subtotal</th>
                </tr>
            </thead>

            <tbody id="cart-products">
                <tr *ngFor="let product of products">
                    <td>
                        <i (click)="removeFromCart($event, product.id)"
                            class="material-icons item-remove-button">close</i>
                    </td>
                    <td>
                        <img src="assets/images/{{ product.image }}">
                    </td>
                    <td class="product-name">
                        <a routerLink="/product/{{ product.url }}">
                            {{product.name}}
                        </a>
                    </td>
                    <td>{{ product.price }}€</td>
                    <td>
                        <input type="number" min="1" max="99" value="1" #quantityInput>
                    </td>
                    <td #cartProductPrice class="cart-product-price">
                        {{ roundToTwoDecimals(product.price * quantityInput.value) }}€
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row mt5">
            <div class="col s5">
                <div class="input-field col s6">
                    <input id="coupon-code" type="text" class="validate">
                    <label for="coupon-code">Coupon code</label>
                </div>
                <a href="#" class="btn mt3 grey darken-3">apply coupon</a>
            </div>
            <div class="col s4 right">
                <div class="total-cost">
                    <h4>Cart Totals</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Subtotal</th>
                                <td #cartSubtotal>{{ roundToTwoDecimals(total) }}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Moms (24%)</th>
                                <td #cartMoms>{{ roundToTwoDecimals(total * 0.24) }}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td #cartTotal>{{ roundToTwoDecimals(total) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a routerLink="/checkout" class="btn grey darken-3 mt3">Proceed to checkout</a>
            </div>
        </div>
    </div>
</div>
