<app-preloader></app-preloader>

<div class="container" *ngIf="product">
    <div class="row">
        <div class="product-page">
            <div class="col s5">
                <img *ngIf="product.image" src="assets/images/{{ product.image }}">
            </div>
            <div class="col s7">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
                <p class="page-price">{{ product.price }}€</p>
                <a href="#" (click)="addToCart($event)" class="btn grey darken-3">Add to cart</a>
            </div>
        </div>
    </div>
</div>
