<div class="side-nav">
    <div class="side-nav-header">
        <a routerLink="/">Home</a>
    </div>
    <div class="side-nav-link">
        <i class="material-icons">list</i><a routerLink="/adminpage/productslist">Products list</a>
    </div>
    <div class="side-nav-link">
        <i class="material-icons">dashboard</i><a routerLink="/adminpage/dashboard">Dashboard</a>
    </div>
    <div class="side-nav-link">
        <i class="material-icons">add</i><a routerLink="/adminpage/addproduct">Add product</a>
    </div>
</div>
