<form class="filter-bar">
    <div class="input-field col s3">
        <input id="category-search" type="text" autocomplete="off">
        <label for="category-search">Search</label>
    </div>

    <div class="input-filed col s5 mt3">
        <div id="price-slider"></div>
        <div class="price-range-filter">
            <input type="number" class="priceInput" id="minInput">€ - <input type="number" class="priceInput"
                id="maxInput">€
            <a href="#" class="btn" id="setprice">Set price range</a>
        </div>
    </div>

    <div class="input-field col s3">
        <select #selectElement (change)="sortFilter($event)">
            <option #lowHigh class="select-option" value="1" selected>Price ascending</option>
            <option #highLow class="select-option" value="2">Price descending</option>
            <option #AtoZ class="select-option" value="3">Prodcuts A-Z</option>
            <option #ZtoA class="select-option" value="4">Products Z-A</option>
        </select>
        <!-- <label>Materialize Select</label> -->
    </div>
</form>
