<form class="filter-bar">
    <div class="input-field col s3">
        <input #categorySearch name="s" (keyup)="sortFilter($event)" type="text" autocomplete="off">
        <label #categorySearchLabel for="category-search">Search</label>
    </div>

    <div class="input-filed col s5 mt3">
        <div #priceSlider id="price-slider"></div>
        <div class="price-range-filter">
            <input type="number" class="priceInput" #minInput>€ - <input type="number" class="priceInput" #maxInput>€
            <a href="#" class="btn" (click)="setPrice($event)" id="setprice">Set price range</a>
        </div>
    </div>

    <div class="input-field col s3">
        <select #selectElement name="ob" (change)="sortFilter($event)">
            <option class="select-option" value="0" disabled selected>Filter</option>
            <option #lowHigh class="select-option" value="asc">Price ascending</option>
            <option #highLow class="select-option" value="desc">Price descending</option>
            <option #AtoZ class="select-option" value="A-Z">Products A-Z</option>
            <option #ZtoA class="select-option" value="Z-A">Products Z-A</option>
        </select>
        <!-- <label>Materialize Select</label> -->
    </div>
</form>

<button class="btn grey darken-3 right" (click)="reloadWindow()">reload</button>
